//variables
$colors: (
  black: #282828,
  white: #fff,
  red: #aa0607,
  gray: #828282,
  darkprimary: #ff9203,
  primary: #ea9625,
  lightprimary: #fae0b4,
  secondary: #8fd9fb,
  lightsecondary: #b1e4fc,
  darksecondary: #0084c1,
  lightgray: #e7eefa,
  lightgradient: (
    linear-gradient(270deg, #e9defa 0%, rgba(251, 252, 219, 0.5) 100%),
  ),
  darkblue: #000048,
);

$fsize: 15px;

//devices breakpoints
$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 996px,
  "xl": 1200px,
  "xxl": 1400px,
);

//font weights
$font-weights: (
  extralight: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
);

@each $weight-name, $weight-value in $font-weights {
  .font-#{$weight-name} {
    font-weight: $weight-value;
  }
}

@each $color-name, $color-value in $colors {
  .font-#{$color-name} {
    color: $color-value;
  }
  .background-#{$color-name} {
    background: $color-value;
  }
}
